@use '../abstracts' as *;
@use '../base' as *;

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
body {
  font-family: $font-stack;
  background: $white;
  color: $gray;
  font-size: $font-size-base;
  line-height: 1.5;
  padding: 14px;
}
