@use '../abstracts' as *;
@use '../base' as *;

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
body {
  font-family: $font-stack;
  background: $white;
  color: $text-base;
  font-size: $font-size-base;
  line-height: 1.5;
}
