@use '../abstracts' as *;
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  background: $blackcurrant;
  color: $white;
  padding-top: 10px;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.contact-us footer {
  margin-top: 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1500px;
  padding: 10px 0;
  margin: 0 auto;

  ul,
  li {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 0;
    color: $white;
  }
  a {
    color: $white;
  }
  a:hover {
    color: $copper;
  }
}
footer {
  .footer-custom-menu-class {
    display: flex;
    justify-content: space-between;
    ul {
      background-color: transparent;
      padding: 0;
      border: none;
      display: flex;
      justify-content: space-evenly;
    }

    ul li {
      padding: 0 10px;
    }

    a {
      padding-bottom: 0;
      font-weight: normal;
      color: $white;
      transition: none;
      font-size: 0.8rem;
      padding-right: 5px;
      transition: 200ms;
    }
    a:hover {
      color: $copper;
    }
    li::after {
      content: "";
      font-size: 1rem;
      color: $white;
    }
  }
}
footer .footer-social-menu {
  list-style-type: none;
}

.footer-social-menu a {
  color: #fff;
}

.footer-social-menu a:hover {
  color: $copper;
}
@media (max-width: 600px) {
  footer .footer-custom-menu-class {
    display: none;
  }
}

/*social icons*/
.footer-social-icons {
  display: none;
}
.social-icon {
  color: $teal;
  margin-right: 5px;
  transition: 200ms;
}
.social-icon:hover {
  color: $copper;
}
