@use '../abstracts' as *;
/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
header {
  background-color: $blackcurrant;
  padding: 15px;
}

/*hide the strapline in header.php on the home page*/

.home .strapline {
  display: none;
}
.strapline {
  padding: 4em 0 0 1em;
}
.strapline h2 {
  font-size: 1.25rem;
  color: $white;
}

/*hero images - the caption position is altered from Metasliders own css*/
.hero {
  position: relative;
  @media (min-width: 800px) {
    .metaslider .caption-wrap {
      position: absolute;
      top: 15%;
      left: 10%;
      background: transparent;
      color: #000;
      opacity: 1;
      margin: 0;
      display: block;
      width: 50%;
      line-height: 1.4em;
    }
    h2 {
      font-size: 3.25rem;
      font-weight: normal;
      margin-bottom: 2rem;
    }
    .metaslider .flexslider .slides p {
      font-size: 1.25rem;
      margin-bottom: 0.1rem;
      font-weight: bold;
    }
  }
}

.hero {
  position: relative;
  @media (max-width: 800px) {
    .metaslider .caption-wrap {
      position: relative;
    }
  }
}
.design .hero h2 {
  color: $black;
}
.design .hero h2 {
  color: $white;
}
/*///////////static hero image for pages other than Home\\\\\\\\\\\\\\\\\\\*/

.static-hero-wrapper {
  position: relative;
}
.static-hero-wrapper .fa-chevron-down {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.static-hero-container {
  min-height: 400px;
}
.design .fa-chevron-down {
  color: $copper;
  &:hover {
    color: $copper-hover;
  }
}
.assets .fa-chevron-down {
  color: $gunmetal;
  &:hover {
    color: $gunmetal-hover;
  }
}
.finance .fa-chevron-down {
  color: $teal;
  &:hover {
    color: $teal-hover;
  }
}
