@use '../abstracts' as *;

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

/*///////////static hero image for pages other than Home\\\\\\\\\\\\\\\\\\\*/

// .static-hero-container {
//     min-height: 400px;
// }
// .static-hero-wrapper-large-screens,
// .static-hero-wrapper-small-screens {
//     position: relative;
// }
// .static-hero-wrapper-small-screens {
//     display: none;
// }
// @media (max-width: 1000px) {
//     .static-hero-wrapper-small-screens {
//         display: block;
//     }
//     .static-hero-wrapper-large-screens {
//         display: none;
//     }
//     .static-hero-container {
//         min-height: auto;
//     }
// }
.hero-wrapper .fa-chevron-down {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
}
.home .hero-wrapper .fa-chevron-down {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
}
.blog .hero-wrapper .fa-chevron-down {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
}
/*Chevron pulse animation*/

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.home .fa-chevron-down {
    color: $copper;
    animation: pulse 2s infinite;
    &:hover {
        color: $copper-hover;
    }
}
.blog .fa-chevron-down {
    color: $copper;
    animation: pulse 2s infinite;
    &:hover {
        color: $copper-hover;
    }
}
.about-us .fa-chevron-down {
    color: $white;
    animation: pulse 2s infinite;
    &:hover {
        color: $copper;
    }
}
.design .fa-chevron-down {
    color: $white;
    animation: pulse 2s infinite;
    &:hover {
        color: $copper;
    }
}
.assets .fa-chevron-down {
    color: $white;
    animation: pulse 2s infinite;
    &:hover {
        color: $gunmetal;
    }
}
.finance .fa-chevron-down {
    color: $white;
    animation: pulse 2s infinite;
    &:hover {
        color: $teal;
    }
}
.contact-us .fa-chevron-down {
    color: $white;
    animation: pulse 2s infinite;
    &:hover {
        color: $copper;
    }
}
