@use '../abstracts' as *;
/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[aria-current]:not([aria-current="false"]) {
  color: $copper;
}

// .main-nav ul.menu {
// }

.menu-btn {
  cursor: pointer;
  z-index: 2;
  text-align: center;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}

.menu-close-btn {
  display: none;
}

.menu-btn {
  display: block;
}
.menu-btn p {
  color: #000;
}

.menu-bar {
  background-color: white;
  height: 7px;
  width: 40px;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  margin-bottom: 4px;
  transition: all 0.2s ease-in-out;
}
.fa-bars::before {
  color: $white;
}
.menu-btn:hover > .menu-bar {
  background-color: $copper;
}
.custom-menu-class {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 100px;
  right: 10%;
  width: 30%;
  height: 100%;
  opacity: 0;

  @media (max-width: $br-small) {
    width: 100%;
    right: 0;
    left: 0;
  }
  ul {
    background-color: $blackcurrant;
    padding: 20px 0;
    // border: 1px solid $gray;
  }

  ul li {
    padding: 0 10px;
  }
  .services-menu-text a {
    color: $blue;
    cursor: default;
  }

  a {
    padding-bottom: 2px;
    font-weight: 600;
    color: $white;
    transition: all 0.1s ease-in-out;
    font-size: 1.5rem;
    padding-right: 5px;
  }
  a:hover {
    color: $copper;
  }
  .services-menu-text a:hover {
    color: $blue;
  }
  li::after {
    content: " >";
    font-size: 1rem;
    color: $white;
  }
  li.services-menu-text::after {
    content: ":";
  }
}

.custom-menu-class.menu-show {
  display: flex;
  opacity: 1;
  z-index: 200;
}

/*Footer menu*/

/*mask*/
.mask {
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  position: fixed;
}
.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
