@use '../abstracts' as *;

/*////////////////////////HOME PAGE\\\\\\\\\\\\\\\\\\\\\*/

/*CTA's*/

@media (min-width: $br-medium) {
  .wp-block-column:not(:first-child) {
    margin-left: 1em !important;
  }
}

.cta-assets {
  background: $gunmetal;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: 0.3s;
  &:hover {
    background: $gunmetal-hover;
    transform: scale(1.05);
  }
}
.cta-design {
  background: $copper;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: 0.3s;
  &:hover {
    background: $copper-hover;
    transform: scale(1.05);
  }
}
.cta-finance {
  background: $teal;
  animation-name: fadeIn;
  animation-duration: 1.9s;
  transition: 0.3s;
  &:hover {
    background: $teal-hover;
    transform: scale(1.05);
  }
}
/*overwriting the kadence info box disply settings to spread out the h2 and p at the top and bottom of the container*/
.home {
  .cta-assets,
  .cta-design,
  .cta-finance {
    .kt-infobox-textcontent {
      display: flex;
      flex-direction: column;
      min-height: 120px;
      justify-content: space-between;
    }
  }
}
.cta-strapline {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.1rem;
  }
}
.strapline-two p {
  font-size: 1.1rem;
}
@media (max-width: $br-small) {
  .cta-strapline,
  .strapline-two p {
    margin-top: 10px;
    padding: 10px;
  }
}
