@use "../abstracts" as *;

/*////////////////////////HOME PAGE\\\\\\\\\\\\\\\\\\\\\*/

/*CTA's*/

@media (min-width: $br-medium) {
  .wp-block-column:not(:first-child) {
    margin-left: 1em !important;
  }
}

.cta-assets {
  background: $gunmetal;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: 0.3s;
  &:hover {
    background: $gunmetal-hover;
    transform: scale(1.05);
  }
}
.cta-design {
  background: $copper;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: 0.3s;
  &:hover {
    background: $copper-hover;
    transform: scale(1.05);
  }
}
.cta-finance {
  background: $teal;
  animation-name: fadeIn;
  animation-duration: 1.9s;
  transition: 0.3s;
  &:hover {
    background: $teal-hover;
    transform: scale(1.05);
  }
}
/*overwriting the kadence info box disply settings to spread out the h2 and p at the top and bottom of the container*/

.cta-assets,
.cta-design,
.cta-finance {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  justify-content: space-between;
}

.cta-strapline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: white;
}
.strapline-two {
  font-size: 1.75rem;
  padding: 0.5em 2em;
  color: white;
}
.strapline-two p {
  font-size: 1.75rem;
  padding: 0.5em 2em;
  color: white;
}
@media (max-width: $br-small) {
  .cta-strapline,
  .strapline-two p {
    display: none;
  }
}

/*mobile stylng for ACF content in front-page.php*/
@media (max-width: 500px) {
  .desktop-and-tablet {
    display: none;
  }
}
@media (min-width: 500px) {
  .mobile-only {
    display: none;
  }
}
.cta,
.cta:hover {
  color: white;
}

.cta-assets {
  padding: 15px;
  color: $white;
  p {
    color: $white;
  }
}
.cta-design {
  padding: 15px;
  color: $white;
  p {
    color: $white;
  }
}
.cta-finance {
  padding: 15px;
  color: $white;
  p {
    color: $white;
  }
}
.mobile-strapline {
  background-color: $blackcurrant;
  padding: 10px;
  p {
    color: $white;
    text-align: center;
    font-size: 1.5rem;
  }
}
.mobile-content {
  padding: 10px;
  text-align: center;
}
.mobile-help {
  background-color: $blackcurrant;
  color: $white;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
.mobile-btns-container {
  background-color: $blackcurrant;
  padding: 10px 0 10px 0;
}
.mobile-btns {
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  margin-bottom: 0.5em;
  transition: all 0.1s ease-in;
  padding: 0 10px 10px 0;
  color: $white;
  background-color: $blackcurrant;

  a {
    width: 80%;
    padding: 5px 30px 5px 10px;
    display: block;
  }
}
.mobile-strapline-two {
  padding: 10px;

  p {
    color: $white;
    font-size: 1.5rem;
    text-align: center;
  }
}
