//utility colors
$white: rgb(255, 255, 255);
$gray: #898989;
$black: #000;

//branding colors
$blackcurrant: rgb(32, 26, 40);
$gunmetal: rgb(118, 113, 113);
$copper: rgb(228, 76, 16);
$teal: rgb(27, 97, 107);
$blue: rgb(24, 151, 233);

//fonts
$font-stack: "Source Sans Pro", sans-serif;
$font-headings: "Trebuchet MS", sans-serif;
$font-size-base: 1rem;

//break points
$br-small: 500px;
$br-medium: 800px;
