//utility colors
$white: rgb(255, 255, 255);
$gray: #898989;
$black: #000;
$text-base: rgb(32, 26, 40);

//branding colors
$blackcurrant: rgb(32, 26, 40);
$gunmetal: rgb(118, 113, 113);
$copper: rgb(228, 76, 16);
$teal: rgb(27, 97, 107);
$blue: rgb(24, 151, 233);

//branding colors hover & other variants
$blackcurrant-hover: rgb(32, 26, 40, 0.8);
$gunmetal-hover: rgb(118, 113, 113, 0.8);
$gunmetal-darker: rgb(100, 96, 96);
$copper-hover: rgb(228, 76, 16, 0.8);
$copper-darker: rgba(199, 64, 11, 0.8);
$copper-half: rgb(228, 76, 16, 0.5);
$teal-hover: rgb(27, 97, 107, 0.8);
$blue-hover: rgb(24, 151, 233, 0.8);
$white-hover: rgb(255, 255, 255, 0.8);
$teal-darker: rgb(22, 83, 92);

//fonts
$font-stack: "Source Sans Pro", sans-serif;
$font-headings: "Trebuchet MS", sans-serif;
$font-size-base: 1rem;

//break points
$br-small: 500px;
$br-medium: 800px;
