@use "../abstracts" as *;
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  margin-bottom: 1rem;
  color: $blackcurrant;
}
p:empty {
  display: none;
}
a {
  color: $blue;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #ccb404;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: $font-headings;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $font-headings;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: $font-headings;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: $font-headings;
}
h4#team {
  color: $copper;
}
.cta-assets a,
.cta-design a,
.cta-finance a {
  color: $white;
}
.cta-assets a:hover,
.cta-design a:hover,
.cta-finance a:hover {
  color: $white;
}
.team-member a {
  color: $copper;
}
.team-member a:hover {
  color: $copper;
}
.assets h4 {
  color: $white;
}
.assets h4.biog-link {
  font-size: 1.1rem;
  background-color: $gunmetal-darker;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 5px;
  transition: 300ms;
  text-align: center;
  border-bottom: 3px solid $gunmetal-darker;
  width: 100%;
}
.assets h4.biog-link:hover {
  background-color: $copper;
  border-bottom: 3px solid $white;
}
.finance h3,
.finance h4,
.finance p,
.design h3,
.design h4 {
  color: $white;
}
.assets h4:last-of-type,
.design h4:last-of-type,
.finance h4:last-of-type {
  padding: 1em 0;
}

.design h4.biog-link {
  font-size: 1.1rem;
  background-color: $copper-darker;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 5px;
  transition: 300ms;
  text-align: center;
  border-bottom: 3px solid $copper-darker;
}
.design h4.biog-link:hover {
  background-color: $teal;
  border-bottom: 3px solid $white;
}
.assets h4.biog-link + p {
  color: $white;
}
.finance h4.biog-link {
  font-size: 1.1rem;
  background-color: $teal-darker;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 5px;
  transition: 300ms;
  text-align: center;
  border-bottom: 3px solid $teal-darker;
}
.finance h4.biog-link:hover {
  background-color: $copper;
  border-bottom: 3px solid $white;
}
// .biog-link a::after {
//   padding-left: 3px;
//   content: ">";
// }
.biog-link a {
  color: $white;
}
/*biog links hover on different pages*/

// .assets .biog-link a:hover {
//   color: $copper;
// }
// .design .biog-link a:hover {
//   color: $blackcurrant;
// }
// .finance .biog-link a:hover {
//   color: $copper;
// }

.assets h3 {
  color: $white;
}
blockquote {
  color: $white;
  font-size: 1.2rem;
  font-style: italic;
}
/*strapline call-out*/
p.callout {
  background-color: $blackcurrant;
  color: $white;
  padding: 20px;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid $copper;
}
.design p.callout {
  border-bottom: 3px solid $white;
}

/*pipe separators used on About*/
.copper-pipe {
  color: $copper;
}

.about-us h5 {
  text-transform: uppercase;
}
