@use '../abstracts' as *;
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  margin-bottom: 1rem;
  color: $blackcurrant;
}
a {
  color: $blue;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #ccb404;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: $font-headings;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $font-headings;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: $font-headings;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: $font-headings;
}
h4.biog-link {
  font-size: 1.1rem;
}
.biog-link a::after {
  padding-left: 3px;
  content: "\2192";
}
.biog-link a {
  color: $white;
}
/*biog links hover on different pages*/

.assets .biog-link a:hover {
  color: $copper;
}
.design .biog-link a:hover {
  color: $blackcurrant;
}
.finance .biog-link a:hover {
  color: $copper;
}

.assets h3 {
  color: $white;
}
blockquote {
  color: $white;
  font-size: 1.2rem;
  font-style: italic;
}
