/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////////////UTILITIES\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hidden {
  display: none;
}

/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
a {
  color: #2988db;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #ccb404;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
body {
  font-family: "Source Sans Pro", sans-serif;
  background: white;
  color: #898989;
  font-size: 1rem;
  line-height: 1.5;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  width: 90%;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.container-full-width {
  width: 100%;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0;
  z-index: 10;
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
header {
  background-color: #201a28;
  padding: 15px;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[aria-current]:not([aria-current=false]) {
  color: #e44c10;
}

.menu-btn {
  cursor: pointer;
  z-index: 2;
  text-align: center;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}

.menu-close-btn {
  display: none;
}

.menu-btn {
  display: block;
}

.menu-btn p {
  color: #000;
}

.menu-bar {
  background-color: white;
  height: 7px;
  width: 40px;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  margin-bottom: 4px;
  transition: all 0.2s ease-in-out;
}

.fa-bars::before {
  color: white;
}

.menu-btn:hover > .menu-bar {
  background-color: #e44c10;
}

.custom-menu-class {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 100px;
  right: 10%;
  width: 30%;
  height: 100%;
  opacity: 0;
}
@media (max-width: 500px) {
  .custom-menu-class {
    width: 100%;
    right: 0;
    left: 0;
  }
}
.custom-menu-class ul {
  background-color: #201a28;
  padding: 20px 0;
  border: 1px solid #898989;
}
.custom-menu-class ul li {
  padding: 0 10px;
}
.custom-menu-class .services-menu-text a {
  color: #1897e9;
  cursor: default;
}
.custom-menu-class a {
  padding-bottom: 2px;
  font-weight: 600;
  color: white;
  transition: all 0.1s ease-in-out;
  font-size: 1.5rem;
  padding-right: 5px;
}
.custom-menu-class a:hover {
  color: #e44c10;
}
.custom-menu-class .services-menu-text a:hover {
  color: #1897e9;
}
.custom-menu-class li::after {
  content: " >";
  font-size: 1rem;
  color: white;
}
.custom-menu-class li.services-menu-text::after {
  content: ":";
}

.custom-menu-class.menu-show {
  display: flex;
  opacity: 1;
  z-index: 200;
}

/*Footer menu*/
/*mask*/
.mask {
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  position: fixed;
}

.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/*
///////////////////////////HERO\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hero-image {
  display: grid;
  place-items: center;
}

/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  background: #201a28;
  color: white;
  padding-top: 10px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  padding: 10px 30px;
  margin: 0 auto;
  position: relative;
}
.footer-container ul,
.footer-container li {
  padding: 0;
  margin: 0;
}

footer .custom-menu-class {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  opacity: 1;
  transition: none;
  z-index: 10;
}
footer .custom-menu-class ul {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-evenly;
}
footer .custom-menu-class ul li {
  padding: 0 10px;
}
footer .custom-menu-class a {
  padding-bottom: 0;
  font-weight: normal;
  color: white;
  transition: none;
  font-size: 0.8rem;
  padding-right: 5px;
}
footer .custom-menu-class a:hover {
  color: #e44c10;
}
footer .custom-menu-class li::after {
  content: "";
  font-size: 1rem;
  color: white;
}

footer .footer-social-menu {
  list-style-type: none;
}

.footer-social-menu a {
  color: #fff;
}

.footer-social-menu a:hover {
  color: #e44c10;
}

.logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 3rem;
}

@media (max-width: 800px) {
  .logo-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.logo-grid img {
  max-width: 80%;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}

.thanks-message {
  display: none;
  margin-top: 0 0 0 50px;
}

.thanks-message-show {
  display: block;
  display: block;
  margin: 0 0 0 50px;
  justify-self: center;
  align-self: center;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px;
}

@media (max-width: 850px) {
  .form-container {
    grid-template-columns: 200px 1fr;
  }
}
@media (max-width: 700px) {
  .form-container {
    grid-template-columns: 1fr;
  }

  .form-container .image-item {
    order: 1;
  }
}
.form-item {
  padding-left: 50px;
  padding-bottom: 2rem;
}

@media (max-width: 700px) {
  .form-item {
    padding-left: 0;
  }
}
.form-control {
  position: relative;
}

.form-item i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  margin-bottom: 1rem;
  display: inline-block;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.email-btn {
  background-color: #000;
  border-radius: 8px;
  text-align: center;
}

.form-item p {
  color: #000;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.email-btn:hover {
  background-color: #999;
}

.email-btn a {
  color: #fff;
  display: block;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.email-btn a:hover {
  color: #000;
}

form {
  max-width: 100%;
  margin: 0;
}

.feedback-input {
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #eee;
  transition: all 0.3s;
  padding: 13px;
  /* margin-bottom: 15px; */
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  background: #eee;
}

.feedback-input:focus {
  border: 2px solid #666;
}

.form-control.success input {
  border-color: #23cc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success textarea {
  border-color: #23cc71;
}

.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #23cc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  font-family: inherit;
}

[type=submit] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #999;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type=submit]:hover {
  background: #ccb404;
}

.testimonial {
  margin-top: 50px;
  padding: 30px;
  background-color: #f5f5f5;
  position: relative;
}

.quotes {
  position: absolute;
  top: -20px;
  left: 45%;
}

.testimonial p:last-of-type {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
