@charset "UTF-8";
/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////////////UTILITIES\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hidden {
  display: none;
}

/*keyframes*/
@keyframes fadeFromTop {
  0% {
    top: -20%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
/*keyframes*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*spacing*/
.mt1 {
  margin-top: 1em !important;
}

.mt2 {
  margin-top: 2em !important;
}

.pt1 {
  padding-top: 1em !important;
}

.pt2 {
  padding-top: 2em !important;
}

.pr1 {
  padding-right: 1em !important;
}

.pl1 {
  padding-left: 1em !important;
}

/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  margin-bottom: 1rem;
  color: #201a28;
}

a {
  color: #1897e9;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #ccb404;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
}

h4.biog-link {
  font-size: 1.1rem;
}

.biog-link a::after {
  padding-left: 3px;
  content: "→";
}

.biog-link a {
  color: white;
}

/*biog links hover on different pages*/
.assets .biog-link a:hover {
  color: #e44c10;
}

.design .biog-link a:hover {
  color: #201a28;
}

.finance .biog-link a:hover {
  color: #e44c10;
}

.assets h3 {
  color: white;
}

blockquote {
  color: white;
  font-size: 1.2rem;
  font-style: italic;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: white;
  color: #201a28;
  font-size: 1rem;
  line-height: 1.5;
}

/*
///////////////////////////CONTAINER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  width: 90%;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    padding: 0 10px;
  }

  .wp-block-getwid-section__wrapper {
    padding: 0;
  }
}
.container-full-width {
  width: 100%;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0;
  z-index: 10;
}

/*container experiment
.container-test {
    width: min(50ch, 100vw - 2rem);
    margin: 2rem auto;
}
*/
/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
header {
  background-color: #201a28;
  padding: 15px;
}

/*hide the strapline in header.php on the home page*/
.home .strapline-large-screen {
  display: none;
}

/*show hide straplines depending on screen size*/
.strapline-large-screen {
  display: none;
}

.strapline-medium-screen {
  display: none;
}

@media (min-width: 1000px) {
  .strapline-large-screen {
    display: block;
    padding: 4em 0 0 1em;
  }

  .strapline-large-screen h2 {
    font-size: 1.25rem;
    color: white;
  }
}
@media (max-width: 999px) {
  .strapline-medium-screen {
    display: block;
  }

  .strapline-medium-screen h2 {
    margin-top: 2rem;
    font-size: 1.25rem;
    color: white;
  }
}
/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*///////////static hero image for pages other than Home\\\\\\\\\\\\\\\\\\\*/
/*two versions in page.php for large and small screens*/
.hero-wrapper .fa-chevron-circle-down {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .fa-chevron-circle-down {
  color: white;
}
.home .fa-chevron-circle-down:hover {
  color: #e44c10;
}

.design .fa-chevron-circle-down {
  color: white;
}
.design .fa-chevron-circle-down:hover {
  color: #e44c10;
}

.assets .fa-chevron-circle-down {
  color: white;
}
.assets .fa-chevron-circle-down:hover {
  color: #767171;
}

.finance .fa-chevron-circle-down {
  color: white;
}
.finance .fa-chevron-circle-down:hover {
  color: #1b616b;
}

.contact .fa-chevron-circle-down {
  color: white;
}
.contact .fa-chevron-circle-down:hover {
  color: #e44c10;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
nav {
  display: flex;
  align-items: center;
}

[aria-current]:not([aria-current=false]) {
  color: #e44c10;
}

/*//////////////////Hamburger with animation to Close btn\\\\\\\\\\\\\\\\\\\\\\\\\*/
label.menu-btn {
  position: absolute;
  right: 0;
  background-color: white;
  height: 7px;
  width: 40px;
  margin-bottom: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
label.menu-btn::before, label.menu-btn::after {
  content: "";
  height: 7px;
  width: 40px;
  background-color: white;
  position: absolute;
  display: block;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}
label.menu-btn::before {
  top: -14px;
  left: 0;
  transform-origin: left top;
  transform: rotateZ(0deg);
}
label.menu-btn::after {
  bottom: -14px;
  left: 0;
  transform-origin: left bottom;
  transform: rotateZ(0deg);
}

label.menu-btn:hover {
  background-color: #e44c10;
}
label.menu-btn:hover::before {
  background-color: #e44c10;
}
label.menu-btn:hover::after {
  background-color: #e44c10;
}

#toggle:checked ~ label::before {
  background-color: #e44c10;
  transform: rotateZ(50deg);
}

#toggle:checked ~ label::after {
  background-color: #e44c10;
  transform: rotateZ(-50deg);
}

#toggle:checked ~ label {
  background-color: #201a28;
}

#toggle ~ label {
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

input.menu-chkbox {
  display: none;
}

.menu-btn-container {
  cursor: pointer;
}

/*end of hamburger animation*/
.menu-btn p {
  color: #000;
}

.custom-menu-class {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 10%;
  width: 30%;
  height: 100%;
  opacity: 0;
}
@media (max-width: 500px) {
  .custom-menu-class {
    width: 100%;
    right: 0;
    left: 0;
  }
}
.custom-menu-class ul {
  background-color: #201a28;
  padding: 10px 0 10px 20px;
}
.custom-menu-class ul li {
  padding: 0 10px;
}
.custom-menu-class .services-menu-text a {
  color: #1897e9;
  cursor: default;
}
.custom-menu-class a {
  padding-bottom: 2px;
  font-weight: 600;
  color: white;
  transition: all 0.1s ease-in-out;
  font-size: 1.5rem;
  padding-right: 5px;
}
.custom-menu-class a:hover {
  color: #e44c10;
}
.custom-menu-class .services-menu-text a:hover {
  color: #1897e9;
}
.custom-menu-class li::after {
  content: " >";
  font-size: 1rem;
  color: white;
}
.custom-menu-class li.services-menu-text::after {
  content: ":";
}

.custom-menu-class.menu-show {
  display: flex;
  opacity: 1;
  z-index: 200;
}

/*Footer menu*/
/*mask*/
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
footer {
  background: #201a28;
  color: white;
  padding-top: 10px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
}
.footer-container ul,
.footer-container li {
  padding: 0;
  margin: 0;
}
.footer-container p {
  margin-bottom: 0;
}

footer .custom-menu-class {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  opacity: 1;
  transition: none;
  z-index: 10;
}
footer .custom-menu-class ul {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-evenly;
}
footer .custom-menu-class ul li {
  padding: 0 10px;
}
footer .custom-menu-class a {
  padding-bottom: 0;
  font-weight: normal;
  color: white;
  transition: none;
  font-size: 0.8rem;
  padding-right: 5px;
}
footer .custom-menu-class a:hover {
  color: #e44c10;
}
footer .custom-menu-class li::after {
  content: "";
  font-size: 1rem;
  color: white;
}

footer .footer-social-menu {
  list-style-type: none;
}

.footer-social-menu a {
  color: #fff;
}

.footer-social-menu a:hover {
  color: #e44c10;
}

.slider-container {
  position: relative;
}

/*positioning of down chevron*/
.icon-down {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-down a {
  color: #e44c10;
}
.icon-down a:hover {
  color: rgba(228, 76, 16, 0.8);
}

/*////////////////////////HOME PAGE\\\\\\\\\\\\\\\\\\\\\*/
/*CTA's*/
@media (min-width: 800px) {
  .wp-block-column:not(:first-child) {
    margin-left: 1em !important;
  }
}
.cta-assets {
  background: #767171;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: 0.3s;
}
.cta-assets:hover {
  background: rgba(118, 113, 113, 0.8);
  transform: scale(1.05);
}

.cta-design {
  background: #e44c10;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: 0.3s;
}
.cta-design:hover {
  background: rgba(228, 76, 16, 0.8);
  transform: scale(1.05);
}

.cta-finance {
  background: #1b616b;
  animation-name: fadeIn;
  animation-duration: 1.9s;
  transition: 0.3s;
}
.cta-finance:hover {
  background: rgba(27, 97, 107, 0.8);
  transform: scale(1.05);
}

/*overwriting the kadence info box disply settings to spread out the h2 and p at the top and bottom of the container*/
.home .cta-assets .kt-infobox-textcontent,
.home .cta-design .kt-infobox-textcontent,
.home .cta-finance .kt-infobox-textcontent {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  justify-content: space-between;
}

.cta-strapline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-strapline p {
  font-size: 1.1rem;
}

.strapline-two p {
  font-size: 1.75rem;
  text-align: center;
}

@media (max-width: 500px) {
  .cta-strapline,
.strapline-two p {
    margin-top: 10px;
    padding: 10px;
  }
}
.gunmetal {
  background-color: #767171;
  cursor: pointer;
}
.gunmetal:hover {
  background-color: rgba(118, 113, 113, 0.8);
}

.blackcurrant {
  background-color: #201a28;
}
.blackcurrant:hover {
  background-color: rgba(32, 26, 40, 0.8);
}

.copper {
  background-color: #e44c10;
}
.copper:hover {
  background-color: rgba(228, 76, 16, 0.8);
}

.teal {
  background-color: #1b616b;
}
.teal:hover {
  background-color: rgba(27, 97, 107, 0.8);
}

.biog-links {
  font-size: 1.2rem;
  text-align: center;
}

.biog-links a {
  color: white;
}
.biog-links a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/*biog columns layout*/
.assets-container .container {
  padding-top: 2em;
}

@media (min-width: 800px) {
  .biog-img {
    float: right;
  }
}
body.assets {
  background-color: #767171;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}

.thanks-message {
  display: none;
  margin-top: 0 0 0 50px;
}

.thanks-message-show {
  display: block;
  display: block;
  margin: 0 0 0 50px;
  justify-self: center;
  align-self: center;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px;
}

@media (max-width: 850px) {
  .form-container {
    grid-template-columns: 200px 1fr;
  }
}
@media (max-width: 700px) {
  .form-container {
    grid-template-columns: 1fr;
  }

  .form-container .image-item {
    order: 1;
  }
}
.form-item {
  padding-left: 50px;
  padding-bottom: 2rem;
}

@media (max-width: 700px) {
  .form-item {
    padding-left: 0;
  }
}
.form-control {
  position: relative;
}

.form-item i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  margin-bottom: 1rem;
  display: inline-block;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.email-btn {
  background-color: #000;
  border-radius: 8px;
  text-align: center;
}

.form-item p {
  color: #000;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.email-btn:hover {
  background-color: #999;
}

.email-btn a {
  color: #fff;
  display: block;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.email-btn a:hover {
  color: #000;
}

form {
  max-width: 100%;
  margin: 0;
}

.feedback-input {
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #eee;
  transition: all 0.3s;
  padding: 13px;
  /* margin-bottom: 15px; */
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  background: #eee;
}

.feedback-input:focus {
  border: 2px solid #666;
}

.form-control.success input {
  border-color: #23cc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success textarea {
  border-color: #23cc71;
}

.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #23cc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  font-family: inherit;
}

[type=submit] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #999;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type=submit]:hover {
  background: #ccb404;
}

/*//////////////FINANCE PAGE\\\\\\\\\\\\\\\\\\\\\*/
body.finance {
  background-color: #1b616b;
}

/*//////////////DESIGN PAGE\\\\\\\\\\\\\\\\\\\\\*/
body.design {
  background-color: #e44c10;
}

/*////////////////BUTTONS\\\\\\\\\\\\\\\\\\\\*/
.btn-skew {
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  margin-bottom: 0.5em;
  transition: all 0.1s ease-in;
}
.btn-skew:hover {
  transform: scale(1.02);
}
.btn-skew .wp-block-button__link {
  text-align: left;
  padding: 3px 10px;
  transition: 0.3s;
}

.copper .wp-block-button__link {
  background-color: #e44c10;
}
.copper .wp-block-button__link:hover {
  background-color: rgba(228, 76, 16, 0.8);
}

.gunmetal .wp-block-button__link {
  background-color: #767171;
}
.gunmetal .wp-block-button__link:hover {
  background-color: rgba(118, 113, 113, 0.8);
}

.teal .wp-block-button__link {
  background-color: #1b616b;
}
.teal .wp-block-button__link:hover {
  background-color: rgba(27, 97, 107, 0.8);
}

.white .wp-block-button__link {
  background-color: white;
  color: #1897e9 !important;
}
.white .wp-block-button__link:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.testimonial {
  margin-top: 50px;
  padding: 30px;
  background-color: #f5f5f5;
  position: relative;
}

.quotes {
  position: absolute;
  top: -20px;
  left: 45%;
}

.testimonial p:last-of-type {
  margin-bottom: 0;
}

/*//////////////////////LOGO\\\\\\\\\\\\\\\\\\\\\\\*/

/*# sourceMappingURL=styles.css.map */
